page-operation-category {
  .content{
      button{

          align-items: center;
          text-align: center;
          padding: 30px 120px;
          font-weight: bold;
          font-size: 1.0em;
          

      }
  }

}
