page-work-orders {
    .scroll-content {
        background: #e2e2e2;
        // background: url(../../../resources/ios/splash.png);
      }
  .ion-thumbnail{
    width: 100%
  }
    .card-heading{
      font-weight: bold;
      color: 	#00699e;
    }
  }
  