<ion-header >
  <ion-navbar>
    <ion-title>Order {{order.ORDERID}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-card>
    <ion-slides *ngIf="!!order.photoLinks.length" pager="true" autoplay="true" centeredSlides="true" align>
      <ion-slide  *ngFor="let photoLink of order.photoLinks" >
        <img src="{{photoLink}}"/>
      </ion-slide>
    </ion-slides>
    <ion-slides *ngIf="order.photoLinks.length == 0" pager="true" autoplay="true" centeredSlides="true" align>
      <ion-slide>
        <img src="assets/img/no_image.png">
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title>{{order.SHORTTEXT}} 
        <ion-badge *ngIf="order.STARTTIME != '000000'" item-end color="secondary">Started</ion-badge>
      </ion-card-title>
    
    <ion-grid text-left>
      <ion-row>
        <ion-col col-6>
          <ion-label stacked><strong>Planned Completion</strong></ion-label>
          {{order.FINISHDATE | date: 'shortDate'}}
        </ion-col>
        <ion-col col-6>
          <ion-label stacked><strong>Assigned To</strong></ion-label>
          {{order.WORKCENTER}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-label stacked><strong>Activity type</strong></ion-label>
          {{order.ACTIVITYTYPE}}
        </ion-col>
        <ion-col col-6>
          <ion-label stacked><strong>Equipment Rank</strong></ion-label>
          {{order.ABCIND}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-label stacked><strong>Equipment</strong></ion-label>
          {{order.EQUIDESC}}
        </ion-col>
        <ion-col col-6>
          <ion-label stacked><strong>Functional Location</strong></ion-label>
          {{order.FUNCLOCDESC}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 >
          <a ion-icon name="document" class="item" href="#" (click)="getNotifications()">
          BreakDown History
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class = "iconsize">
          <button ion-button (click) = "showOperations(order)" icon-start block class = "iconsize"><ion-icon class = "iconsize" name="create"></ion-icon> Operations </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button (click) = "takePicture()" icon-start block class = "iconsize"><ion-icon name="camera"></ion-icon> Upload Image</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <!-- [disabled] = "order.STARTTIME != '000000'"  -->
          <button ion-button [ngClass]="{'grey-button': order.STARTTIME != '000000'}" (click) = "startTracking()" icon-start block class = "iconsize"><ion-icon name="play"></ion-icon> Start Work </button>
        </ion-col>

        <ion-col col-6 >
          <button ion-button (click) = "closeWorkOrder()" icon-start block class = "iconsize" ><ion-icon name="cloud-done"></ion-icon> Finish </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-card-content>

  </ion-card>



  
</ion-content>
