page-supervisor-view {
  .button {
    height: 135px;
    width:295px;
  }

  .big-badge{
    font-size: 1.3em;
  }

  .medium-badge{
    font-size: 1.6em;
  }

   .dashboard-button{
    font-size: 1.3em;
    font-weight: bold;
  }
}
