page-operation {

  .icon{
      font-size: 25px;
  }
  
  .card-heading{
      font-weight: bold;
      color: 	#00699e;
    }
  
  .red-button{
      background-color: red;
  }

  .green-button{
      background-color: green;
  }

}
